/* Common Style  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap')
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*-----------------
 COMMON CS
------------------- */

/* duipashe margin korar jonno .container name common ekta class nicchi  */

.container{
    max-width: 1200px;
    margin: 0 auto;  
    /* upore niche 0 nibe r daane-bame auto mane always center a thakbe */
    padding: 0 100px;
    /* 1200px er nicher device a jeno gaye gaye na lage tai padding, upore niche lagbena tai 0 */
}
.highlight{
    color: #FF008E;
}
.primary-button{
    outline: 0; 
    /* button er outline remove korsi */
    border: 0;
    padding: 15px 20px;
    /* upore niche 15 dane bame 20 */
    background-image: linear-gradient(90deg, #861151, #FF008E);
    /* The values to top, to bottom, to left, and to right are equivalent to the angles 0deg, 180deg, 270deg, and 90deg, respectively. The other values are translated into an angle. */
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    /* shob lekha uppercase korsi */
    border-radius: 5px;
    cursor: pointer;
    /* cursor nile poiner hobe */
    box-shadow: 0 7px 0 #a3085b;
    /* click korle ektu moove korar jonno- position relative korle default a top theke 0 kore rakhi */
    position: relative;
    top: 0;
}
.primary-button:active{
    top: 5px;
    box-shadow: 0 2px 0 #a3085b;
    /* pseudo box for mouse click */
}
.section-title{
    text-align: center;
    /* jehetu h2 k inline block kora hoise tai eta parent er deya css niye center hoise */
}
.section-title h2{
    font-size: 30px;
    border-bottom: 2px solid #FF008E;
    margin: 50px;
    text-transform: uppercase;
    display: inline-block;
    /* h2 block element pura line niye nicche tai inline block korsi */
}

/*------------------
 Header Styles
 -------------------  */
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    /* align item: center korte hole must height thakte/dite hobe, height chara hoyna */
}

/* Navbar */
#nav-toggler{
    display: none;
}
.nav-toggler-icon{
    display: none;
    color: white;
    font-size: 30px;
}
/* navbar ba icon boro screen a dekhabena */


header{
    /* height: 100vh;
    eta background image shurute jeno pura page a thake tai disilam ekhon content boshano hoise so eta r dorkar nai */
    background-image: url(../images/cloud.png);
    /* background image dite url likhe ../ dile folder location ashbe */
    background-repeat: no-repeat;
    /* background image choto hoileo jeno repeat na kore */
    background-size: cover;
    /* full width niye nibe */
    background-color: rgba(0, 0, 0, .5);
    /* opesity deyar jonno rgba nisi 000 black color r .5 mane 50% */
    background-blend-mode: overlay;
    /* background image er shathe color ta overly korar jonno */
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 15px 10px;
}
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 80px);
    /* 100vh mane full ekta page scrol chara r 80 px hoilo nav bar er height so total naav bar and banner milay 100vh korsi */
    min-height: 500px;
    /* shudhu 100vh thakle responsive korlei mean choto korle ekdomi upore uthe jacche tai min height diye disi  */
}
.banner-left{
    display: flex;
    /* khali flex korle pashapashe h p button chole ashbe tai flex direction column korbo */
    flex-direction: column;
    /* jehetu direction change hoye gese so align item daane bame kaj korbe and justify content korle upore niche kaj korbe */
    /* Notes- Normaly align item upore niche kaj kore justify conment daane bame kaj kore */
    justify-content: center;
    /* vertically center hoise */
    align-items: flex-start;
}
.banner-left h1{
    font-size: 45px;
    color: white;
}
.banner-left p{
    font-size: 18px;
    color: white;
    margin: 20px 0;
    line-height: 1.5;
    /* line er por por gap default 1 thake amra baraite 1.5 disi */
}
.banner-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* image take niche naimanor jonno */
}

.banner-right img{
    width: 100%;
}

/* Feature part CSS */
.feature{
display: grid;
grid-template-columns:  1fr 1fr;
gap: 30px;
justify-content: center;
/* etar bhitoer card gular fixed width fixed thakay center nicchena */
}
.card{
    width: 300px;
    padding: 30px;
    box-shadow: 0 30px 35px rgba(0, 0, 0, .2);
    margin: 0 auto;
    /* margin dane bame auto deyar por center nise */
}
.card .card-icon{
    background-color: #FF008E;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 10px;
    color: white;
}
.card h3{
    color: #FF008E;
    font-family: 25px;
}
.card p{
    margin: 10px 0;
    line-height: 1.5;
    /* line gular gap baraite line height */
}

.card a{
    text-decoration: none;
    color: #FF008E;
}

/* Gallery Part CSS */
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.photo img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* strached image thik korar jonno */
    border: 3px solid #FF008E;
}

/* Contact Part css */
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.contact-left img{
    width: 100%;
}

.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    /* bodyr font pacchilona defaiult font pacchilo, inherit kore disi so body te provided font nise */
    outline: 0;
    /* click korle pop up color off korar jonno */
    border: 1px solid #FF008E;
}

/* Footer CSS  */
footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* Responsiveness CSS */
@media (max-width: 950px) {
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    .banner-left h1{
        font-size: 35px;
    }
}
@media (max-width: 800px) {
    .banner{
        grid-template-columns: 1fr;
        height: fit-content;
        /* backgnd image height aro choto hoye jacche tai fit content kore disi */
    }
    .banner-left{
        order: 2;
        /* text gulake image er por pathaye disi  */
        padding: 50px 0;
    }
    .feature, .gallery, .contact{
        grid-template-columns: 1fr;
    }
    .photo img{
        max-width: 350px;
        /* etar por image ek side hoye gese so image er parent mane photo class k text alighn korbo */
    }
    .photo{
        text-align: center;
    }
    .nav-toggler-icon{
        display: block;
    }
    .navigation{
        position: absolute;
        /* choto screen er jonno nav menu gula daane absolute korlam jeno logo baame r toggler icon dane jay */
        top: 80px;
        /* logo er nche mane navigation height chilo 80px oitar niche ansi */
        left: 0;
        width: 100%;
        flex-direction: column;
        /* upore niche ansi  */
        align-items: center;
        background-color: white;
        padding: 20px 0;
        transform: translateY(-330px);
        /* normaly minus kore site er upore mane baire shoray rakhsi */
        transition: .5s ease-in-out;
    }
    .navigation li a{
        color: black;
    }
    #nav-toggler:checked ~ .navigation{
        transform: translateY(0px);
        /* ~ icon diye sibling der k under akaj korano jay,  */
    }
    
}